[user]
	name = Uday Ruddarraju
	email = uday.ruddarraju@robinhood.com
[core]
	excludesfile = /Users/uday/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[url "git@github.com:"]
    insteadOf = https://github.com/
